
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px
}

.card {
  position: relative;
  width: 320px;
  height: 450px;
  margin: 30px;
  /* background: linear-gradient(to bottom, #626A88, #2E3149); */
  background: linear-gradient(180deg, rgba(98, 106, 136, 0.1) 0%, rgba(46, 49, 73, 0.1) 107.43%);
  backdrop-filter: blur(100px);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  
  
}

.icon {
  background: white;
  position: relative;
  width: 140px;
  height: 120px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;

}

.icon::before {
  background: red;
  left: -50px;
  height: 50px;
  width: 50px;
  position: absolute;

}